@{
    ViewData["Title"] = "Confirmación de Reserva";
}

<h2>¡Reserva Confirmada!</h2>

<p>Su reserva ha sido confirmada. Pronto recibirá un correo con los detalles.</p>
<a href="@Url.Action("Index", "Home")">Volver al Inicio</a>
