<footer class="border-top footer bg-dark text-white text-center py-4">
    <p>&copy; 2024 Viajes Exprés. Todos los derechos reservados.</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-white">Términos y Condiciones</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Política de Privacidad</a></li>
        <li class="list-inline-item"><a href="#" class="text-white">Contacto</a></li>
    </ul>
</footer>
@* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TravelBookingApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        
    </footer> *@