/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #333;
}

 /*Busqueda*/

 #searchForm {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
}

#searchForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#searchForm input[type="text"],
#searchForm input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchForm button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#searchForm button:hover {
    background-color: #45a049;
}

.promotions {
    margin-top: 20px;
    padding: 15px;
    background-color: #e0f7fa;
    border: 1px solid #b2ebf2;
    border-radius: 8px;
    color: #00796b;
}

/*usuario*/

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.text-danger {
    font-size: 14px;
    color: #e74c3c;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.registro-container {
    max-width: 400px;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.registro-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.perfil {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.perfil h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.perfil p {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
}

.perfil p strong {
    color: #333;
}

.btn-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-link:hover {
    background-color: #0056b3;
}

.cambiar-contrasena {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
}

.cambiar-contrasena h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.cambiar-contrasena .mensaje {
    font-size: 16px;
    color: green;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.text-danger {
    font-size: 14px;
    color: red;
}

.btn-primario {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-primario:hover {
    background-color: #0056b3;
}

.historial-reservas {
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
}

.historial-reservas h2 {
    font-size: 26px;
    color: #333;
    margin-bottom: 20px;
}

.no-reservas {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

.tabla-reservas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-reservas th, .tabla-reservas td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabla-reservas th {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
}

.tabla-reservas tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla-reservas tr:hover {
    background-color: #f1f1f1;
}

.btn-cancelar {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-cancelar:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.btn-cancelar:hover:not(:disabled) {
    background-color: #c82333;
}


/*Politicas*/

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}